body {
    font-family: 'Comfortaa', cursive;
}

/* Header - NavBar */
.nav__service {
    background-color: #011b36;
    border-bottom: 2px solid #010335;
    box-shadow: 0px 0px 20px black;
}

.nav__service-tittle {
    font-weight: 600;
    font-size: 2.5rem;
    color: #1166c7;
    text-shadow: 0px 0px 5px rgb(3, 73, 177);
}

.nav__service-tittle:hover {
    color: rgb(3, 87, 213);
    text-shadow: 0px 0px 5px rgb(2, 75, 221);
}

.nav-item a  {
    display: inline-block;
    color: white;
    text-shadow: 0px 0px 5px rgb(122, 122, 122);
    font-size: 1.5rem;
    margin-right: 20px;
    padding: 2px;
}

.nav-item a:hover {
    color: rgb(205, 204, 204);
    border-bottom: 2px solid white;
}

/* Botton */
.navbar-toggler {
    background-color: rgb(15, 79, 208);
    box-shadow: 0px 0px 10px 0px rgb(10, 23, 128);
    border: 2px solid rgb(0, 64, 167);
}

/* Fin - Header - NavBar */

/* Menu  Principal */
.main__section__principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #011d3a;;
    margin: 0 auto;
    height:  94vh;
    box-shadow: 0px 0px 15px 1px rgb(10, 1, 59);
}

.main__section__principal h2{
    display: flex;
    color: #3275c0;
    text-shadow: 0px 0px 20px rgb(1, 56, 139);
    font-size: 5rem;
    justify-content: center;
    text-align: center;
}

.main__section__principal h3 {
    color: white;
    text-shadow: 0px 0px 25px grey;
    font-size: 2rem;
}

.main__section__principal p {
    color: white;
    margin-top: 30px;
}
/* Fin Menu  Principal */

/* Menu Carrusel */
.main__section__carrusel {
    border: 2px solid black;
    background-color: #222222;
    box-shadow: 0px 0px 20px 3px black;
}

/* Fin - Menu Carrusel */

/* Menu Información */
.main__section__info {
    color: white;
    background-color: #012244;
    box-shadow: 0px 0px 25px 1px black;
    border: 2px solid black;
}

.main__section__info h3 {
    display: inline-block;
    font-size: 1.7rem;
    border-bottom: 2px solid white;

}

.main__section__text {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 40px;
    padding-left: 40px ;
}

.main__section__info p {
    font-size: 1.2rem;
}
/* Fin - Menu Información */

/* Footer */
.footer__div__info {
    background-color: #1C1C1C;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    box-shadow: 0px 0px 25px 2px black;
    border-top: 1px solid rgb(0, 0, 0);
}

.footer__div {
    margin-top:  30px;
    margin-bottom: 40px;
    padding: 30px;
}

.footer__div__info h5 {
    display: inline-block;
    font-size: 1.9rem;
    border-bottom: 2px solid white;
    text-shadow: 0px 0px 3px rgb(187, 187, 187);
}   

.footer__div__info p {
}
/* Fin - Footer */